:root {
  --main-title-color: #EEF2EF;
  --bg-color: #EEF2EF;
  --text-color: #212B31;
  --footer-bg-color: #212B31;
  --footer-text-color: #EEF2EF;
  --caption-text-color: #3D4247;
}

.dark-theme {

  --main-title-color: #EEF2EF;
  --bg-color: #212B31;
  --text-color: #EEF2EF;
  --footer-bg-color: #EEF2EF;
  --footer-text-color: #212B31;
  --caption-text-color: #EEF2EF;
}

#logo-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--bg-color);
  margin: 20px;
  cursor: pointer;
  z-index: 1000;
  transition: 0.25s;
}


#logo-button:hover {
  transform: scale(1.1)
}


#logo-icon {
  height: 40px;
}
#theme-switch {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--bg-color);
  margin: 20px;
  cursor: pointer;
  z-index: 1000;
  transition: 0.25s;
}

#theme-switch:hover {
  transform: scale(1.1)
}

#theme-icon {
  width: 50px;
  height: 50px;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reset-a, .reset-a:hover, .reset-a:visited, .reset-a:focus, .reset-a:active  {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: auto;
}
.section.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  overflow: hidden;
}
.section .section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 474px;
  background: var(--src) center center/cover no-repeat;
}
.section .title {
  position: relative;
  margin: 216px auto 252px auto;
  width: auto;
  font: 700 32px/1.12 "Georgia", Helvetica, Arial, serif;
  color: var(--main-title-color);
}
.section .introductionSection {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}
.section .flexColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 104px auto;
  width: 1110.953125px;
  max-width: 85%;
}
@media (max-width: 575px) {
  .section .flexColumn {
    margin: 80px auto;
  }
  .section .title {
    word-wrap: normal;
    text-align: center;
    margin: 116px auto 152px auto;
  }
}
@media (max-width: 383px) {
  .section .flexColumn {
    margin: 50px auto;
  }
  .section .title {
    word-wrap: normal;
    text-align: center;
    margin: 116px auto 152px auto;
  }
}
.section .flexRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
}
@media (max-width: 991px) {
  .section .flexRow {
    flex-direction: column;
    gap: 30px 10px;
  }
}
.section .imageContainerColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1px 0px;
  width: 480px;
  min-width: 0px;
}
@media (max-width: 991px) {
  .section .imageContainerColumn {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.section .image {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1199px) {
  .section .image {
    width: auto;
    max-width: 100%;
  }
}
.section .imageCaption {
  position: relative;
  display: flex;
  justify-content: center;
  font: 400 19px/1.21 "Verdana", Helvetica, Arial, serif;
  color: var(--caption-text-color);
  text-align: center;
}
@media (max-width: 991px) {
  .section .imageCaption {
    align-items: flex-start;
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .section .imageCaption {
    font-size: 16px;
  }
}
.section .contentColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px 0px;
  width: 562px;
  min-width: 0px;
  margin-bottom: auto;
}
@media (max-width: 991px) {
  .section .contentColumn {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.section .mainTitle {
  position: relative;
  font: 400 28px/1.14 "Georgia", Helvetica, Arial, serif;
  color: var(--text-color);
}
@media (max-width: 1199px) {
  .section .mainTitle {
    margin: 0px 0px 0px 15px;
  }
}
@media (max-width: 991px) {
  .section .mainTitle {
    align-items: flex-start;
    margin: 0px;
    font-size: 26px;
  }
}
@media (max-width: 479px) {
  .section .mainTitle {
    font-size: 22px;
  }
}
.section .mainSubtitle {
  position: relative;
  font: 400 21px/1.23 "Verdana", Helvetica, Arial, serif;
  color: var(--text-color);
}
@media (max-width: 1199px) {
  .section .mainSubtitle {
    margin: 0px 0px 0px 15px;
  }
}
@media (max-width: 991px) {
  .section .mainSubtitle {
    align-items: flex-start;
    margin: 0px;
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .section .mainSubtitle {
    font-size: 18px;
  }
}
.section .highlightText {
  position: relative;
  margin: 40px 2px 0px 0px;
  font: 400 19px/1.21 "Verdana", Helvetica, Arial, serif;
  color: var(--text-color);
}
@media (max-width: 991px) {
  .section .highlightText {
    align-items: flex-start;
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .section .highlightText {
    font-size: 16px;
  }
}
.section .additionalHighlight {
  position: relative;
  margin: 23px 2px 0px 0px;
  font: 400 19px/1.21 "Verdana", Helvetica, Arial, serif;
  color: var(--text-color);
}
@media (max-width: 991px) {
  .section .additionalHighlight {
    align-items: flex-start;
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .section .additionalHighlight {
    font-size: 16px;
  }
}
.section .viewButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 41px 0px 0px;
  width: 243px;
  max-width: 100%;
  font: 700 32px/1.12 "Georgia", Helvetica, Arial, serif;
  color: #eef2ef;
  text-align: center;
  background-color: #77d18d;
  border-radius: 20px 20px 20px 20px;
  padding: 8px 8px 8px 8px;
  filter: drop-shadow(0px 8px 24px rgba(134, 234, 158, 0.247));
  letter-spacing: 0.96px;
  transition-duration: 0.3s;
  transition-property: background-color;
cursor: pointer;
}
@media (max-width: 479px) {
  .section .viewButton {
    margin: 41px auto 0px;
  }
}
.section .viewButton:hover {
  background-color: #5fe27fff;
}
.section .section3 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 97px;
  background-color: var(--footer-bg-color);
}
.section .title2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px auto;
  font: 400 29px/1.13 "Georgia", Helvetica, Arial, serif;
  color: var(--footer-text-color);
  text-align: center;
}