.startingpage.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}
.startingpage .mainSection {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
}
.startingpage .textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 161px 0px;
  margin: 37px 0px 238px 4.31%;
  width: 1163.9375px;
  max-width: 85%;
}
@media (max-width: 991px) {
  .startingpage .textContainer {
    gap: 150px 0px;
    margin: 37px 0px 150px 4.31%;
  }
}
@media (max-width: 575px) {
  .startingpage .textContainer {
    gap: 80px 0px;
    margin: 37px 0px 80px 4.31%;
  }
}
@media (max-width: 383px) {
  .startingpage .textContainer {
    gap: 30px 0px;
    margin: 37px 0px 50px 4.31%;
  }
}
.startingpage .mainHeading {
  position: relative;
  font: 700 32px/1.2 "Georgia", Helvetica, Arial, serif;
  color: black;
}
@media (max-width: 991px) {
  .startingpage .mainHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .startingpage .mainHeading {
    font-size: 26px;
  }
}
.startingpage .subHeading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px auto;
  width: 974.90625px;
  max-width: 85%;
  font: 400 22px/2.04 "Verdana", Helvetica, Arial, serif;
  color: black;
  text-align: center;
}
@media (max-width: 991px) {
  .startingpage .subHeading {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .startingpage .subHeading {
    font-size: 18px;
  }
}
.startingpage .section2 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.startingpage .flex_col {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 52px 0px;
  margin: 56px auto 132px;
  width: 972px;
}
@media (max-width: 991px) {
  .startingpage .flex_col {
    width: auto;
  }
}
.startingpage .title1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 25.41% 0px auto;
  width: 419px;
  font: 400 32px/1.2 "Georgia", Helvetica, Arial, serif;
  color: black;
  text-align: center;
}
@media (max-width: 991px) {
  .startingpage .title1 {
    margin: 0px auto;
  }
}
@media (max-width: 383px) {
  .startingpage .title1 {
    width: auto;
    font-size: 28px;
  }
}
.startingpage .flex_row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
}
@media (max-width: 991px) {
  .startingpage .flex_row {
    flex-direction: column;
    gap: 8px 10px;
  }
}
.startingpage .flex_col1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 434px;
  min-width: 0px;
}
@media (max-width: 991px) {
  .startingpage .flex_col1 {
    margin-top: unset;
    margin-bottom: unset;
    width: auto;
  }
}
.startingpage .rect1 {
  position: relative;
  min-height: 271px;
  background-color: #d9d9d9;
}
@media (max-width: 991px) {
  .startingpage .rect1 {
    min-height: 13.71%;
  }
}
.startingpage .title2 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 58px 0px 0px 15px;
  font: 400 29px/1.2 "Georgia", Helvetica, Arial, serif;
  color: black;
  text-align: right;
}
@media (max-width: 991px) {
  .startingpage .title2 {
    justify-content: center;
    text-align: center;
    font-size: 29px;
  }
}
@media (max-width: 383px) {
  .startingpage .title2 {
    font-size: 24px;
  }
}
.startingpage .highlight {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 2px 0px 0px;
  font: 400 18px/1.2 "Verdana", Helvetica, Arial, serif;
  color: black;
  text-align: right;
}
@media (max-width: 991px) {
  .startingpage .highlight {
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 5px 15px 5px 15px;
    font-size: 18px;
  }
}
.startingpage .rect2 {
  position: relative;
  margin: 22px 3px 0px auto;
  width: 273px;
  min-height: 59px;
  outline: 4px solid #d9d9d9;
  outline-offset: -4px;
}
@media (max-width: 991px) {
  .startingpage .rect2 {
    margin: 22px auto 0px;
  }
}
.startingpage .rect11 {
  position: relative;
  margin: 57px 0px 0px;
  min-height: 271px;
  background-color: #d9d9d9;
}
.startingpage .content_box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 35px;
  min-width: 0px;
  min-height: 2003px;
}
@media (max-width: 991px) {
  .startingpage .content_box {
    display: none;
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.startingpage .rect3 {
  position: absolute;
  top: 18px;
  right: 16px;
  bottom: 17px;
  left: 15px;
  width: 4px;
  height: 1968px;
  background-color: #d9d9d9;
}
.startingpage .image {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 1968px;
  left: 0px;
  width: 35px;
  height: 35px;
}
.startingpage .image1 {
  position: absolute;
  top: 328px;
  right: 0px;
  bottom: 1640px;
  left: 0px;
  width: 35px;
  height: 35px;
}
.startingpage .image2 {
  position: absolute;
  top: 656px;
  right: 0px;
  bottom: 1312px;
  left: 0px;
  width: 35px;
  height: 35px;
}
.startingpage .image3 {
  position: absolute;
  top: 984px;
  right: 0px;
  bottom: 984px;
  left: 0px;
  width: 35px;
  height: 35px;
}
.startingpage .image4 {
  position: absolute;
  top: 1312px;
  right: 0px;
  bottom: 656px;
  left: 0px;
  width: 35px;
  height: 35px;
}
.startingpage .image5 {
  position: absolute;
  bottom: 328px;
  left: 0px;
  width: 35px;
  height: 35px;
}
.startingpage .image6 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
}
.startingpage .flex_col2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 434px;
  min-width: 0px;
}
@media (max-width: 991px) {
  .startingpage .flex_col2 {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.startingpage .title21 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0px 15px 0px 0px;
  font: 400 29px/1.2 "Georgia", Helvetica, Arial, serif;
  color: black;
}
@media (max-width: 991px) {
  .startingpage .title21 {
    justify-content: center;
    margin: 58px 15px 0px 0px;
    text-align: center;
    font-size: 29px;
  }
}
@media (max-width: 383px) {
  .startingpage .title21 {
    font-size: 24px;
  }
}
.startingpage .highlight1 {
  position: relative;
  display: flex;
  margin: 2px 0px 0px;
  font: 400 18px/1.2 "Verdana", Helvetica, Arial, serif;
  color: black;
}
@media (max-width: 991px) {
  .startingpage .highlight1 {
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 5px 15px 5px 15px;
    font-size: 18px;
  }
}
.startingpage .rect21 {
  position: relative;
  margin: 22px 0px 0px;
  width: 273px;
  min-height: 59px;
  outline: 4px solid #d9d9d9;
  outline-offset: -4px;
}
@media (max-width: 991px) {
  .startingpage .rect21 {
    margin: 22px auto 0px;
  }
}
.startingpage .title22 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 58px 15px 0px 0px;
  font: 400 29px/1.2 "Georgia", Helvetica, Arial, serif;
  color: black;
}
@media (max-width: 991px) {
  .startingpage .title22 {
    justify-content: center;
    text-align: center;
    font-size: 29px;
  }
}
@media (max-width: 383px) {
  .startingpage .title22 {
    font-size: 24px;
  }
}
.startingpage .rect22 {
  position: relative;
  margin: 22px 0px 0px;
  width: 273px;
  min-height: 59px;
  outline: 4px solid #d9d9d9;
  outline-offset: -4px;
}
@media (max-width: 991px) {
  .startingpage .rect22 {
    margin: 22px auto 0px;
  }
}
@media (max-width: 383px) {
  .startingpage .rect22 {
    width: 40%;
  }
}
.startingpage .section3 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 97px;
  background-color: #f4f4f4;
}
.startingpage .title23 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 31px auto;
  font: 400 29px/1.2 "Georgia", Helvetica, Arial, serif;
  color: black;
  text-align: center;
}